<form [formGroup]="bookForm"
      class="form"
      (ngSubmit)="onSubmit($event)">
  <div class="content">
      <mat-form-field>
          <input matInput
                 formControlName="title"
                 placeholder="Title">
      </mat-form-field>
      <div class="err" *ngIf="title.touched && !title.valid">
          <div *ngIf="title.errors.required">
            Please enter the book's title.
          </div>
          <div *ngIf="!title.errors.required && title.errors.notEmptyFieldValidator">
              Please enter a valid title.
            </div>
            <div *ngIf="!title.errors.required && !title.errors.notEmptyFieldValidator && title.errors.uniqueNameValidator">
                    This title is already exists.
                  </div>
        </div>
      <mat-form-field>
          <input matInput
          formControlName="author"
                 placeholder="Author">
      </mat-form-field>
      <div class="err" *ngIf="author.touched && !author.valid">
          <div *ngIf="author.errors.required">
            Please enter the author's name.
          </div>
          <div *ngIf="!author.errors.required && author.errors.notEmptyFieldValidator">
              Please enter a valid name.
            </div>
            
        </div>
      <mat-form-field>
          <input matInput
                formControlName="publishedDate"
                [matDatepicker]="picker"
                [max]="today"
                placeholder="Published Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="err" *ngIf="publishedDate.touched && !publishedDate.valid">
          <div *ngIf="publishedDate.errors.required">
            Please select a published date.
          </div>
        </div>
  </div>
  <button mat-raised-button 
          color="primary"
          type="submit"
          [disabled]="!bookForm.valid">
          Submit
  </button>
</form>